html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding-left: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}


body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
  font-style: normal;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  line-height: 75px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position: relative;
  align-self: flex-start;
}

.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;

}

.about {
  background-color: #F6F8FA;
  padding: 150px 0 150px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-size: 48px;
}

.about__text p {
  max-width: 770px;
  margin-bottom: 16px;
}

@media (max-width: 1440px) {
  .magic__inner {
    padding: 50px 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slider-blog__item {
    padding: 120px 60px;
  }

  ul.slick-dots {
    margin-left: 60px;
  }
}

@media (max-width: 1200px) {
  .about__inner {
    display: block;
  }

  .about__title,
  .team__title,
  .pricing__title,
  .connection__title {
    margin-bottom: 50px;
  }

  .about,
  .expertise,
  .portfolio,
  .slider-blog,
  .team,
  .pricing,
  .connection {
    padding: 75px 0;
  }

  .header__top-inner {
    padding-bottom: 5px;
  }

  .about__text p {
    max-width: 100%;
  }

  .title {
    font-size: 48px;
    line-height: 65px;
  }

  .expertise__title {
    margin-bottom: 50px;
  }

  .portfolio__filter-btn {
    margin-right: 0px;
  }

  .team__items,
  .pricing__items,
  .clients__list {
    column-gap: 20px;
  }


}

@media (max-width: 1440px) {
  .magic__inner {
    padding: 50px 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slider-blog__item {
    padding: 120px 60px;
  }

  ul.slick-dots {
    margin-left: 60px;
  }
}

@media (max-width: 1200px) {
  .about__inner {
    display: block;
  }

  .about__title,
  .team__title,
  .pricing__title,
  .connection__title {
    margin-bottom: 50px;
  }

  .about,
  .expertise,
  .portfolio,
  .slider-blog,
  .team,
  .pricing,
  .connection {
    padding: 75px 0;
  }

  .header__top-inner {
    padding-bottom: 5px;
  }

  .about__text p {
    max-width: 100%;
  }

  .title {
    font-size: 48px;
    line-height: 65px;
  }

  .expertise__title {
    margin-bottom: 50px;
  }

  .portfolio__filter-btn {
    margin-right: 0px;
  }

  .team__items,
  .pricing__items,
  .clients__list {
    column-gap: 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 36px;
    line-height: 48px;
  }

  .about,
  .expertise,
  .portfolio,
  .slider-blog,
  .team,
  .pricing,
  .connection {
    padding: 50px 0;
  }

  .about__text p {
    margin-bottom: 12px;
  }
}