html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding-left: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}


body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
  font-style: normal;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  line-height: 75px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position: relative;
  align-self: flex-start;
}

.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;

}

.slider-blog {
  background-color: #F8F6FA;
  padding: 115px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-blog__item {
  padding: 60px 0;
  position: relative;
  text-align: center;
}

.slider-blog__item img {
  display: block;
  margin: 0 auto;
  width: 900px;
  height: 550px;
}

.slider-blog__item-title {
  max-width: 900px;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #242121;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  padding-bottom: 30px;
}

.slider-blog__item-descr {
  max-width: 900px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
  margin: 0 auto 50px;
  text-align: center;
}


.slick-dots {
  display: flex;
}

.slick-dots button {
  background-color: #242121;
  opacity: 0.4;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  border: none;
}

.slick-dots li+li {
  margin-left: 13px;
}

.slick-dots .slick-active button {
  opacity: 1;
  width: 10px;
  height: 10px;
  transform: translateY(-2px);
}

.slick-prev,
.slick-next {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

@media (max-width: 1440px) {
  .container {
    max-width: 960px;
  }

  .slider-blog__item img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 720px;
  }

  .slick-prev,
  .slick-next {
    display: none;
  }
}


@media (max-width: 992px) {
  .container {
    max-width: 540px;
  }

  .title {
    font-size: 40px;
    line-height: 55px;
  }

  .slick-prev,
  .slick-next {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  .slick-prev,
  .slick-next {
    display: none;
  }

  .title {
    font-size: 32px;
    line-height: 45px;
  }

  .slider-blog__item-title {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 20px;
  }

  .slider-blog__item-descr {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .title {
    font-size: 24px;
    line-height: 35px;
  }

  .slider-blog {
    padding: 30px 0;
  }

  .slider-blog__item-title {
    font-size: 20px;
    line-height: 30px;
  }

  .slider-blog__item-descr {
    font-size: 10px;
    line-height: 15px;
  }

  .slick-prev,
  .slick-next {
    display: none;
  }
}