html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding-left: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}


body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
  font-style: normal;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  line-height: 75px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position: relative;
  align-self: flex-start;
}

.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;

}

.footer__top {
  padding: 110px 10px 60px;
  background-color: #333;
  text-align: center;
}

.footer__logo {
  display: inline-block;
  padding: 0 35px 4px;
  border-bottom: 2px solid #FCBB08;
  margin-bottom: 70px;
}

ul.footer_social {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}

.footer_social-list {
  padding: 0px 15px 50px;
}

.footer_social-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.footer__contact a {
  display: block;
  margin: 10px 0;
  color: #FFFFFF;
}

.go-top {
  display: inline-block;
}

.footer__copy {
  padding: 40px 10px;
  background: #2A2C2B;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #ccc;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1140px;
  }

  .title {
    font-size: 48px;
    line-height: 60px;
  }

  .footer__top {
    padding: 90px 10px 50px;
  }

  .footer__logo {
    padding: 0 30px 3px;
    margin-bottom: 50px;
  }

  .footer_social-list {
    padding-bottom: 40px;
  }

  .footer_social-link {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 3px;
  }

  .footer__contact {
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .footer__copy {
    padding: 30px 10px;
    font-size: 10px;
    line-height: 14px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .title {
    font-size: 36px;
    line-height: 48px;
  }

  .footer__top {
    padding: 70px 10px 40px;
  }

  .footer__logo {
    padding: 0 25px 2px;
    margin-bottom: 40px;
  }

  .footer_social-list {
    padding-bottom: 30px;
  }

  .footer_social-link {
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 2px;
  }

  .footer__contact {
    font-size: 10px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .footer__copy {
    padding: 20px 10px;
    font-size: 8px;
    line-height: 12px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .title {
    font-size: 30px;
    line-height: 40px;
  }

  .footer__top {
    padding: 50px 10px 30px;
  }

  .footer__logo {
    padding: 0 20px 1px;
    margin-bottom: 30px;
  }

  .footer_social-list {
    padding-bottom: 20px;
  }

  .footer_social-link {
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 1px;
  }

  .footer__contact {
    font-size: 8px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .footer__copy {
    padding: 15px 10px;
    font-size: 6px;
    line-height: 10px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 320px;
  }

  .title {
    font-size: 24px;
    line-height: 32px;
  }

  .footer__top {
    padding: 30px 10px 20px;
  }

  .footer__logo {
    padding: 0 15px 1px;
    margin-bottom: 20px;
  }

  .footer_social-list {
    padding-bottom: 10px;
  }

  .footer_social-link {
    font-size: 6px;
    line-height: 8px;
    letter-spacing: 1px;
  }

  .footer__contact {
    font-size: 6px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .footer__copy {
    padding: 10px;
    font-size: 4px;
    line-height: 6px;
  }
}