html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding-left: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}


body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
  font-style: normal;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  line-height: 75px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position: relative;
  align-self: flex-start;
}

.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;

}

.header__content {
  margin-top: 100px;
  background-image: url('../images/banana.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  font-family: 'Montserrat', sans-serif;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 93px);
}

.header__title {
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #222;
  margin-top: auto;
  margin-bottom: 19px;
  padding-top: 50px;
}

.header__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #222;
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 62px;
  width: 45px;
  height: 45px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .header__content-inner {
    min-height: calc(100vh - 150px);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 60px;
  }

  .title::after {
    width: 40px;
    height: 3px;
  }

  .header__title {
    font-size: 56px;
    line-height: 68px;
    padding-top: 100px;
  }

  .header__subtitle {
    font-size: 14px;
    line-height: 18px;
  }

  .header__icon {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 36px;
    line-height: 45px;
  }

  .title::after {
    width: 30px;
    height: 2px;
  }

  .header__title {
    font-size: 48px;
    line-height: 58px;
    padding-top: 80px;
  }

  .header__subtitle {
    font-size: 12px;
    line-height: 16px;
  }

  .header__icon {
    margin-bottom: 30px;
  }
}